<h1><%= @list.name %></h1>

<ul>
<% @list.tasks.each do |task| %>
  <li><%= link_to check_box_tag(nil), task_path(task), :method => :delete %> <%= task.name %></li>
<% end %>
  <li>
    <% form_for @list.tasks.build do |f| %>
      <%= f.hidden_field :list_id %>
      <%= f.text_field :name %>
      <%= f.submit "Add", :disable_with => 'Adding...' %>
    <% end %>
  </li>
</ul>


<p>
  <%= link_to "back", lists_path %>
</p>