<% form_for @artist do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :genre %>
    <%= f.select :genre, %w(Alternative Classical Dance Jazz R&B Rock) %>
  </p>
  
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
