<% form_for [@artist, @album], :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :release_date %>
    <%= f.date_select :release_date %>
  </p>
  <p>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </p>
  
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
